
:root {
  --background: #fff8e5;
  --primary: #1E2FEE;
  --secondary: #1D29A7;
  --accent: #FA622A;
  --black: #161529;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Raleway", sans-serif;
  background: var(--background);
  color: var(--black);
}

body {
  margin: 2em 2em 4em 2em;
}

h1 {
  font-size: 30px;
  font-weight: 600;
  color: var(--primary);
  text-align: center;
}

h2 {
  font-size: 20px;
  font-weight: 600;
  color: var(--primary);
}

h3 {
  font-weight: 600;
  border-bottom: 1px solid;
  width: fit-content;
  font-size: 16px;
}

p {
  font-size: 16px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  margin: .5em .5em .5em 0;
}

span {
  font-weight: 300;
  font-style: italic;
  display: block;
  padding-left: 5px;
}

.link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: var(--secondary);
  transition: color 0.7s ease;
}

.leftToRight {
  padding: 5px;
  box-shadow: inset 0 0 0 0 var(--secondary);
  transition: box-shadow 0.7s ease, color 0.7s ease;
}

.leftToRight:hover {
  box-shadow: inset 300px 0 0 0 var(--secondary);
  color: var(--background);
}


