
:root {
  --background: #fff8e5;
  --blue: #4E30D1;
  --black: #161529;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Raleway", sans-serif;
  background: var(--background);
  color: var(--black);
}
